<script>
window.onload = function(){
 try
 {
  if (window.parent
    && window.parent.location.hostname !== "localhost"
    && window.parent.location.hostname !== "www.soundfra.me"
    && window.parent.location.hostname !== "soundframe.herokuapp.com"){
    throw new Error();
}
}
catch (e){
  document.body.innerHTML = "Access Denied<br/>" + "<a href='" + document.referrer + "'>Go Back</a> or visit the full website <a href='https://soundframe.herokuapp.com' target='_blank'>here</a>"
}
}
</script>
<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
  <%= flash[:error] %>
  <%= flash[:notice] %>
<div class="row">
  <div class="large-6 large-offset-3 columns forms">
    <%= form_for(:session, url: sessions_path) do |f| %>
   <%= f.label :email %>
   <%= f.text_field :email %>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <%= f.submit "Sign in", class: "button dashboard-option submit_button" %>
   <% end %>
   <p>New user? <%= link_to "Sign up now!", signup_path %></p>
 </div>
</div>
