<script>
window.onload = function(){
 try
 {
  if (window.parent
    && window.parent.location.hostname !== "localhost"
    && window.parent.location.hostname !== "www.soundfra.me"
    && window.parent.location.hostname !== "soundframe.herokuapp.com"){
    throw new Error();
}
}
catch (e){
  document.body.innerHTML = "Access Denied<br/>" + "<a href='" + document.referrer + "'>Go Back</a> or visit the full website <a href='https://soundframe.herokuapp.com' target='_blank'>here</a>"
}
}
</script>
<% provide(:title, 'Edit User') %>
<h1>Update Your Profile</h1>
<div class="row">
<div class="large-6 columns forms">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Save changes", class: "button dashboard-option submit-button" %>
  <% end %>
</div>
<div class="large-3 columns connector-form">
</div>
<div class="large-3 columns">
  <%= gravatar_for @user %><br/>
  <a href="http://gravatar.com/emails">change</a>
</div>
</div>
