<script>
// window.onload = function(){
//    try
//    {
//        if (window.parent && window.parent.location.hostname !== "soundframe.herokuapp.com"){
//           throw new Error();
//        }
//    }
//    catch (e){
//       document.body.innerHTML = "Access Denied<br/>" + "<a href='" + document.referrer + "'>Go Back</a> or visit the full website <a href='https://soundframe.herokuapp.com' target='_blank'>here</a>"
//    }
// }
</script>
<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate @user %>
<% @users.each do |user| %>
<div class="row">
  <div class="large-6 columns">
    <%= gravatar_for user %>
  </div>
  <div class="large-6 columns padding">
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
    data: { confirm: "Are You sure?" } %>
    <%end %>
  </div>
</div>
<%end%>

<%= will_paginate %>