<div class="large-12 columns forms">
<%= form_for(:user, url: users_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>
<%= f.submit "Sign up!", class: "button dashboard-option submit_button" %>
<% end %>
</div>
