<div id="info">
  <h2>Libary</h2>
  <h4>Add a location for the tracks you'd like to map.</h4>
  <div id="info-content">
  <% count = 0 %>
   <div class="row">
  <% @tracks.each do |track| %>
  <div class="small-2 large-4 columns">
  <h6><%=track.artist%>: <%= track.title %></h6>
  <iframe width="100%" height="20%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= track.soundcloud_track_id %>&show_artwork=false"></iframe>
  <div class="row collapse">
  <div class="small-10 columns">
  <input type="text" name="location[<%= count %>][input]" placeholder="input location!"/>
  <input class ="box" type="hidden" name="location[<%= count %>][track_id]" value="<%= track.soundcloud_track_id %>" placeholder="input location!"/>
</div>
  <div class="small-2 columns">
  <a href="#" class="button postfix">Add</a>
</div>
</div>
</div>
  <% count += 1 %>
    <% end %>
</div>
  </div>
