<div id="map-project"></div>
<div id="save-project" class="button disabled">Save</div>

<div id="info">
  <h4>Library</h4>
  <h5>Select a track to add to this location</h5>
  <table>
  <thead>
    <tr>
      <th width="50">Title</th>
      <th width="50">Artist</th>
      <th width="50">Link</th>
      <th width="50">Genre</th>
    </tr>
  </thead>
  <% @tracks.each do |track| %>
  <tbody>
    <tr data-id="<%=track.soundcloud_track_id%>">
      <td><%=track.title%></td>
      <td><%=track.artist%></td>
      <td><%=track.permalink_url%></td>
      <td><%=track.genre%></td>
      </a>
    </tr>
    <% end %>
  </tbody>
</table>
</div>