<!DOCTYPE html>
<html>
<head>
  <title>SoundframeApp</title>
  <%= include_gon %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
	<script>
	  SC.initialize({
	    client_id: "7bc71d1e26e8b1d2ee33dbd1dee5b8bd",
	  });
	</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
