<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "SoundFrame" %></title>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />
  <%= include_gon %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <div id="target-side-bar">
        <p><i class="fi-arrow-left large"></i> SoundFrame</p>
      </div>
      <div id="side-menu-trigger" class="left-off-canvas-toggle hide" >
      </div>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <h4>SoundFrame</h4>
          <% if signed_in? %>
          <li><%= link_to "Dashboard", current_user %></li>
          <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <hr>
          <li><a href="/help">How does it work?</a></li>
          <li><a href="/about">What's SoundFrame?</a></li>
          <li><a href="http://blog.soundfra.me/" target="_blank">Blog</a></li>
          <li><a href="mailto:info@soundfra.me"><i class="fi-mail large"></i> Contact Me!</a></li>

          <% else %>
          <li><a href="#" data-dropdown="sign_in_form">Sign in</a></li>

          <div id="sign_in_form" data-dropdown-content class="small f-dropdown content">
            <%= render partial: "shared/sign_in_form" %>
          </div>

          <li><a href="#" data-dropdown="sign_up_form">Sign up</a></li>

          <div id="sign_up_form" data-dropdown-content class="small f-dropdown content">
            <%= render partial: "shared/sign_up_form" %>
          </div>
          <hr>
          <li><a href="/about">What's SoundFrame?</a></li>
          <li><a href="/help">How does it work?</a></li>
          <li><a href="http://blog.soundfra.me/" target="_blank">Blog</a></li>
          <li><a href="mailto:info@soundfra.me"><i class="fi-mail large big_icons"></i> Contact Me!</a></li>


          <% end %>
        </ul>
      </aside>
      <section  class="main-section">

        <%= yield %>

      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>


  <%= javascript_include_tag "application" %>
</body>
</html>
